body {
	background-color: #484848;
	color: #f1f1f1;
	text-shadow: 2px 2px 2px #333333;
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.container {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	overflow: hidden;
}

.layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
    background-color: #484848;
    z-index: 0;
}

.layer.loading {
    display: block;
    z-index: 1;
}

body.connected .layer.chess-board{
    display: block;
    z-index: 2;
}

body.not-connected .layer.no-connection{
    display: block;
    z-index: 2;
}
