body {
	background-color: #484848;
	color: #f1f1f1;
	text-shadow: 2px 2px 2px #333333;
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.container {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	overflow: hidden;
}

.layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
    background-color: #484848;
    z-index: 0;
    box-shadow: inset 0px 0px 60px #333;
}

body.loading .layer.loading {
    display: block;
    z-index: 1;
}

.layer.loading .explain{
    width: 1180px;
    text-align: center;
}

body.connected .layer.connected{
    display: block;
    z-index: 2;
}

body.no-connection .layer.no-connection{
    display: block;
    z-index: 2;
}

.nav {
    border: 2px solid #666; 
    cursor: pointer;
}
.nav.focus {
    border: 2px solid #f1f1f1 !important;   
}

.explain {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
}

span.link {
    color: #97C03D;
}

span.head {
    line-height: 40px;   
}