<!DOCTYPE html>
<html>
<head>
	<title>Chess TV Screen</title>
	<link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="css/chess.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="css/keypad.css"></link>
    <script type="text/javascript" src="js/light.js"></script>
	<script type="text/javascript" src="js/fen.js"></script>
    <script type="text/javascript" src="js/<%= target %>.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
    <script type="text/javascript" src="js/poll.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body onload="window.app.onLoad();" class="loading">
    <div class="container">
        <div class="layer connected">
            <div id="board"></div>
        </div>
        <div class="layer loading">
            <div class="explain">
                <p><img src="images/chess.png"/></p>
                <p>Chess TV Screen</p>
                <p>Loading...</p>
                <p><img src="images/ajax-loader.gif"/></p>
            </div>
        </div>
        <div class="layer no-connection">
            <div class="explain">
                <p><img src="images/chess.png"/></p>
                <p>There is no connection to your Android device</p>
                <p>Trying to connect...</p>
                <p><img src="images/ajax-loader.gif"/></p>
            </div>
        </div>
        <div class="layer no-device">
            <div class="explain">
                <p>Chess TV Screen</p>
                <p>This TV app needs to be paired with the Chess app on your Android device in order to show the chess board</p>
                <p>If you do not have the Chess app installed on your Android smart phone or tablet, go to <span class="link">http://jwtc.nl/downloads</span> and install Chess via Google Play</p>
                <!--<p><img src="images/chess.png"/></p>
                <p><img src="images/play_logo_x2.png" width="240"/></p>-->
            </div>
            
        </div>
        <div class='nav exit'>Exit</div>
    </div>
    <% if ( jsconsole ){ %>
    <script src="http://jsconsole.com/remote.js?<%= jsconsole %>"></script>
    <% } %>
</body>
</html>